<h1>Sign Up </h1>

<%= form_for @user do |f| %>
  <%= f.label :name, 'Name' %><br>
  <%= f.text_field :name, placeholder: 'user name' %><br>

  <%= f.label :userid, 'User ID' %><br>
  <%= f.text_field :userid, placeholder: 'user name' %><br>

  <%= f.label :email, 'Email' %><br>
  <%= f.email_field :email, placeholder: 'Example@email.com'%><br>

  <%= f.submit value: 'Submit' %>
<% end %>

  <% if @user.errors[:username].any? %>
    <% @user.errors[:username].each do |msg| %>
      <%= msg %><br>
    <% end %>
  <% end %>