<ul>
  <li> Title: <%= @event.title %></li>
  <li>Location: <%= @event.location  %></li>
  <li>Date: <%= @event.date  %></li>
  <li>Time: <%= @event.time %></li>
  <li>Description: <%= @event.description  %></li>
</ul>