<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">

      <div class="row">
        <nav>
            <h2><%= link_to 'Private-Events', root_path %> </h2>
            <ul>              
              <% if current_user %>
                <li>Hi <%= link_to current_user.userid, current_user  %></li>
                <li><%= link_to 'New Event', new_event_path %></li>
                <li> <%= link_to 'Sign Out', session_path('active'), method: :delete %> </li>
              <% else %>
                <li> <%= link_to 'Login', new_session_path %> </li>
                <li> <%= link_to 'Sign up', new_user_path %> </li>
              <% end %>              
              <li></li>
            </ul>
          </nav>
      </div>     
      <%= yield %>
    </div>
  </body>
</html>
