<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h2><%= link_to 'Private-Events', root_path %> </h2>
      <ul>
        <li> <%= link_to 'Login', new_user_path %> </li>
        <li>Sign up</li>
        <li>userid</li>
        <li>Sign out</li>
        <li></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
